<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boram.cider.mapper.entryMapper">

	<select id="listEntry" resultType="EntryVO">
		SELECT * FROM entry
			ORDER BY entry_no DESC
	</select>
	
	<insert id="insertEntry" parameterType="EntryVO">
		INSERT INTO entry (
			entry_name, entry_email, entry_melody
		) VALUES (
			#{entry_name }, #{entry_email }, #{entry_melody }
 		)
	</insert>
	
	<select id="selectEntry" resultType="EntryVO">
		SELECT entry_melody FROM entry
			WHERE entry_no = #{entry_no }
	</select>
	
	<select id="uniqueEmail" resultType="Integer">
		SELECT count(*) FROM entry
			WHERE entry_email = #{entry_email }
	</select>
	
	<update id="updateWinner" parameterType="EntryVO">
		UPDATE entry SET entry_winner = #{entry_winner }
			WHERE entry_no = #{entry_no }
	</update>
	
</mapper>


